<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backened project1</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="body">
        <div id="board">
            <h1>Welcome to regular expression 101</h1>
            <h1>---------------------------------</h1>

            <form action="{{url_for('reg')}}" method="post">
                <h2>Regular Expression</h2>
                <input id="regbox" type="text" name="regular_expression" placeholder="insert your regular expression here">
                <br>
                <br>
                <h2>Test String</h2>
                <input class="string" id="textboxid" type="text" name="test string" placeholder="insert your test string here">
                <input class="check" type="submit" value="Check">
        </div>
    </div>
    </form>
</body>
</html>